<div class="container" id="searchForms">
    <form ng-submit="$ctrl.search()">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter Ticker (ex: AAPL)" ng-model="$ctrl.ticker">
            </div>
            <button type="submit" class="btn btn-info">Search</button>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
        <div ng-if="$ctrl.error">
            <h3>{{$ctrl.error}}</h3>
        </div>
        <h1 ng-if="$ctrl.symbol && $ctrl.companyName"><strong>{{$ctrl.symbol}} - </strong>{{$ctrl.companyName}} <span class="latestPrice">{{$ctrl.latestPrice | currency}}</span>
        </h1>

    </div>
    <div class="change" ng-if="$ctrl.symbol">
        <div class="positive" ng-class="{'negative':$ctrl.change < 0}">
            <!-- how to limit amount of digits on % -->
            <h3>{{$ctrl.change | currency}} {{($ctrl.changePercent * 100).toFixed(2) + '%'}}</h3>
        </div>

    </div>

    <!-- this doesn't work
    <div ng-class="{'positive' : '$ctrl.change' > 0, 'negative' : $ctrl.change' < 0}"> -->

</div>
